[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "Dash/ViewControllers/TISwipeableTableView"]
	path = Dash/ViewControllers/TISwipeableTableView
	url = https://github.com/thermogl/TISwipeableTableView.git
[submodule "Dash/Helpers/EGOImageLoading"]
	path = Dash/Helpers/EGOImageLoading
	url = https://github.com/enormego/EGOImageLoading.git
[submodule "Dash/Helpers/MBProgressHUD"]
	path = Dash/Helpers/MBProgressHUD
	url = https://github.com/matej/MBProgressHUD.git
[submodule "Dash/Helpers/MGImageUtilities"]
	path = Dash/Helpers/MGImageUtilities
	url = https://github.com/mattgemmell/MGImageUtilities.git
[submodule "Dash/Helpers/EGOTableViewPullRefresh"]
	path = Dash/Helpers/EGOTableViewPullRefresh
	url = https://github.com/enormego/EGOTableViewPullRefresh.git
